<ion-header>

</ion-header>

<ion-content class ="ion-padding ion-text-center">
  <img src ="../../assets/icon/card.png" class="card"/>

  <div class ="title">
    <h2>Bienvenidos</h2>
    <p>Realiza tu compra más rápido</p>
  </div>

  <div class ="ion-margin-top">
    <ion-button expand="block" class="ion-margin-top"  [routerLink]="['/registrar']" fill="outline"color="white">Registrarse</ion-button>
    <ion-button expand="block" class="ion-margin-top" [routerLink]="['/login']" > Ingresar</ion-button>
    
  </div>

</ion-content>
