<ion-header>
  <ion-toolbar>
    <ion-title><strong>Comprar Producto</strong></ion-title>
    <ion-buttons slot="start">
      <ion-back-button text = "" defaultHref="supermercados"></ion-back-button> 
    </ion-buttons>
  </ion-toolbar>
  
  
</ion-header>

<ion-content>

  <ion-fab vertical = "top" horizontal ="end" slot="fixed">
    <ion-fab-button (click) = "openCart()" #cart>
      <div class = "cart-length">{{cartItemCount | async}}</div>
      <ion-icon name = "cart" class = "cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--SCANEAR CON DIOS-->
  <br>
  <br>
    <div class="ion-align-items-center" style="display: flex; flex-flow: column nowrap;">
      <img src="assets/carrito1.png" height="250" width="250"/>
      <ion-button fill="outline" (click)="scan()">Escanear codigo de Producto
      </ion-button>
    </div>
 

    <div *ngIf="itemWasScaned">
    <ion-item *ngFor="let item of products">
      <ion-card>
      <ion-card-header>
        <img [src]=item.imgURL height="200" width="500"/>
      <ion-card-title><h1 class="ion-text-center">{{item.name}}</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <h2 class="ion-text-center"><strong>{{item.price | currency: 'USD'}}</strong></h2>
      </ion-label>
    </ion-card-content>
    <ion-item>
      <ion-button slot="end"  (click) = "addToCart(item)">Agregar</ion-button>
    </ion-item>
      </ion-card>
  </ion-item>
</div>


</ion-content>
