ion-toolbar{
    --background:  #1190CB;
    --color : white;
}

ion-back-button{
    --background: #1190CB;
    --color : rgb(250, 248, 248);
}

 #carrito-compra img{
  
    width: 500px;
    height: 250px;
}
