ion-toolbar{
    --background:  #1190CB;
    --color : white;
}

ion-back-button{
    --background: #1190CB;
    --color : rgb(250, 248, 248);
}
ion-button{
    --border-radius: 1.2rem;
}

.iconos{
    color: #1190CB;
}




