<ion-header>
  <ion-toolbar >
    <ion-title class ="ion-padding ion-text-center"><strong> Productos</strong></ion-title>
    <ion-buttons slot="start"> 
      <ion-menu-button menu = "main-menu"></ion-menu-button>

    </ion-buttons>
  </ion-toolbar>
 <ion-toolbar>
  <ion-searchbar debounce = "500" animated placenholder ="Buscar"(ionChange) = "buscar($event)"></ion-searchbar>
 </ion-toolbar>

</ion-header>


  <ion-content>
    
    <ion-item>
      <ion-thumbnail slot="start">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    
    
  
    
  </ion-content>


