<ion-header>
  <ion-toolbar>
    <ion-title><strong>Pagos</strong></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu = "main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
  
</ion-header>


 <ion-content>
 <div id="pdfTable" #pdfTable>
  <ion-list>
    <div class="ion-align-items-center" style="display: flex; flex-flow: column nowrap;">
      </div>
   <ion-card>
    <div class="ion-align-items-rigth"  style="display: flex; flex-flow: column nowrap;">
      <br>
       {{todayWithPipe}}
     </div>
   <ion-item *ngFor=" let p of factura1" class="ion-text-wrap">
    <br>
    <ion-grid>
      <ion-row>

        <ion-col size ="4">
         <b>{{p.nombre}}</b>
        </ion-col>
        
     
        <ion-col size ="3">
          {{p.initialValue}}
         </ion-col>

      
        <ion-col size ="3" class=" ion-text-end">
         {{p.initialValue * p.precio | currency:'USD'}}
        </ion-col>

      
        </ion-row>
       
       </ion-grid>
     </ion-item>

     <!--<ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            Total:
          </ion-col> 
          <ion-col size="3" class="ion-text-end">
            {{getTotal() | currency:'USD'}}
          </ion-col> 
        </ion-row>
      </ion-grid>
    </ion-item>-->
  </ion-card>
     </ion-list>
     </div>

</ion-content>

