
<ion-content  class="ion-padding">
  <div class="login-section ion-padding">
  <br>
  <br>
  <div class="heading ion-padding">
    <div class="title">
      <h4>Ingresar</h4>
      <p>Ha iniciado sesión</p>
     </div>
    <form [formGroup]="formularioLogin">
      <ion-item>
        <ion-input  placeholder="email" class="primary-input" formControlName="email"></ion-input>
        </ion-item>
  
      <ion-item>
        <ion-input placeholder="Contraseña"  type="password" class="primary-input"formControlName="contrasena" minlenght = "5"></ion-input>
      </ion-item>
    </form>
  
  
     <div class="ion-margin-top">
      <ion-button expand="block" (click)="ingresar()"  [disabled]="!formularioLogin.valid">Iniciar sesión</ion-button>
     </div>
   
     <div class="ion-margin-top ion-text-center">
      <a [routerLink]="['/bienvenido']">Cerrar</a>
     </div>
  </div>
  </div>
</ion-content>
