<ion-header>
  <ion-toolbar>
    <ion-title><strong>Tarjeta</strong></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu = "main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form id= "payment-form">
      <div id = "payment-element">
        <div class = "payment-box">
           <br>
           <br>
           <div class="ion-align-items-center" style="display: flex; flex-flow: column nowrap;">
            <ion-title slot="start"><h4>Informacion Personal</h4></ion-title>
           <br>
           <br>
            <img src="assets/tarjeta.jpg" height="200" width="200"/></div>
          <br>

          
        
          <ionic-item>
            <div id="card">
              
              </div>
          </ionic-item>
            
          
             <br>
          <div class = "button">
          <div id="card-errors" role ="alert"></div>
          <br>
          <br>
          <ion-button id = "button" expand="block" (click)="payment()">Pagar</ion-button></div>
        </div>
      
      </div>

    </form>
      

</ion-content>