<!--<ion-header>
  <ion-toolbar>
    <ion-title>Factura de compra</ion-title>

    <h1></h1>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>-->


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Ionic Template</title>

    <link href="http://code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="https://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
 </head>

 <div id="pdfTable" #pdfTable>
  <body ng-controller="MyCtrl as ctrl">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Factura de compra</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row header">
          <div class="col">Productos</div>
          <div class="col">Cantidad</div>
          <div class="col">Precio</div>
          <div class="col"></div>
        </div>
        <div class="row"  *ngFor=" let p of cart" class="ion-text-wrap">
          <div class="col">{{p.nombre}}</div>
          <div class="col"> {{p.initialValue}}</div>
          <div class="col">{{p.initialValue * p.precio | currency:'USD'}}</div>
        </div>

        <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
    </ion-content>
   
  </body>





