<ion-header>
  <ion-toolbar>
    <ion-title>clientes</ion-title>
  </ion-toolbar>
</ion-header>



  <ion-content>
      <!--<div class="ion-align-items-center">
        <ion-avatar item-start>
        <img src="assets/carrito1.png" /></ion-avatar>
       </div>
       <br>
       <br>

       <form [formGroup]="formularioRegistro">
          <ion-item>
            <ion-label><strong> Nombre</strong></ion-label>
            </ion-item>
    
            <ion-item>
              <ion-input  placeholder="Contraseña" type="password" class="primary-input" formControlName="contrasena"></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-input  placeholder="Email"  class="primary-input" formControlName="email"></ion-input>
                </ion-item>
    
                <ion-item>
                  <ion-input  placeholder="Tarjeta" type="number" class="primary-input" formControlName="tarjeta"></ion-input>
                  </ion-item>
        </form>

        <div class="ion-margin-top">
          <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
        </div>-->
</ion-content>
