ion-back-button{
    --background: #1190CB;
    --color : rgb(250, 248, 248);
}

ion-toolbar{
    --background:  #1190CB;
    --color : white;
}

ion-icon{
    color: #1190CB;
}

.title{
    margin-bottom:30px;
}

.title h4{
    color:var(--ion-color-primary);
}

ion-avatar{
  margin:0 auto;
}

.image {
  height:"600";
  width:"500";
}
