ion-back-button{
    --background: #1190CB;
    --color : rgb(250, 248, 248);
}

ion-toolbar{
    --background:  #1190CB;
    --color : white;
}



.title{
    margin-bottom:30px;
}

.title h4{
    color:var(--ion-color-primary);
}


ion-icon{
    color: #1190CB;
    padding-top: 30px;
    font-size: 30px; 
}

ion-avatar{

    margin:0 auto;
    height:150px;
    width:150px;
}









