<ion-header>
  <ion-toolbar >
    <ion-title class ="ion-padding ion-text-center"><strong> Supermercados</strong></ion-title>
    <ion-buttons slot="start"> 
      <ion-menu-button menu = "main-menu"></ion-menu-button>

    </ion-buttons>
  </ion-toolbar>
 <ion-toolbar>
  <ion-searchbar debounce = "500" animated placenholder ="Buscar"(ionChange) = "buscar($event)"></ion-searchbar>
 </ion-toolbar>

</ion-header>

<ion-content>

 <div class="card">
    <ion-list *ngFor = "let item of superMarkets" >
    <ion-item>
      <ion-card>
      <ion-card-header>
        <img [src]=item.ruta height="200" width="500"/>
  
      <ion-card-title><h1 class="ion-text-center">{{item.nombre}}</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content class ="ion-padding ion-text-center">
      {{item.descripcion}}
    </ion-card-content>
    <ion-item>
      <ion-button fill="outline" slot="end" href="escaner">Realizar compra</ion-button>
    </ion-item>
      </ion-card>
   
  </ion-item>
  </ion-list>
</div>

  <div class="ion-padding">
 
 <ion-footer>
    <ion-tabs>
     
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="clientes">
          <ion-icon name="people-outline" [routerLink]="['/clientes']"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="pagos">
          <ion-icon name="card-outline" [routerLink]="['/pagos']"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="supermercados">
          <ion-icon name="cart-outline"  [routerLink]="['/supermercados']"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="bienvenidos">
          <ion-icon name="log-out-outline"  [routerLink]="['/bienvenido']"></ion-icon>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </ion-footer>
  </div>

</ion-content>
